# Using Data Manipulation, Cleaning and Visualization Techniques on Movie Ranking Dataset from GroupLens Research

In this script various data analysis techniques used to analize data on movie rankings. This dataset gathered from GroupLens Research and it can be accessed from [here](https://grouplens.org/datasets/movielens/).

## About the Dataset
This dataset (ml-latest-small) describes 5-star rating and free-text tagging activity from [MovieLens](http://movielens.org), a movie recommendation service. It contains 100836 ratings and 3683 tag applications across 9742 movies. These data were created by 610 users between March 29, 1996 and September 24, 2018. This dataset was generated on September 26, 2018.

Users were selected at random for inclusion. All selected users had rated at least 20 movies. No demographic information is included. Each user is represented by an id, and no other information is provided.

The data are contained in the files `links.csv`, `movies.csv`, `ratings.csv` and `tags.csv`. More details about the contents and use of all these files follows.

This is a *development* dataset. As such, it may change over time and is not an appropriate dataset for shared research results. See available *benchmark* datasets if that is your intent.

This and other GroupLens data sets are publicly available for download at <http://grouplens.org/datasets/>.
The dataset includes recall information related to specific NHTSA campaigns. The dataset has 4 different recall type: tires, vehicles, car seats, and equipment. The earliest campaign data is from 1966. The dataset gathered on 8th September 2021.

## Table of Contents
1. Data Cleaning and Manipulation

## 1. Data Cleaning and Manipulation
In this section we are going to clean the data from missing values and we are going to change some of the column values and data types, and stick some dataframes together with joins.

In [1]:
# Importing the libraries.
import pandas as pd
import numpy as np
import os

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Getting the current working directory.
pwd = os.getcwd()

# Importing the datasets
links = pd.read_csv(pwd + "\\Dataset\\links.csv")
movies = pd.read_csv(pwd + "\\Dataset\\movies.csv")
ratings = pd.read_csv(pwd + "\\Dataset\\ratings.csv")
tags = pd.read_csv(pwd + "\\Dataset\\tags.csv")

### About these Files:

links.csv = Identifiers that can be used to link to other sources of movie data are contained in the file `links.csv`. Each line of this file after the header row represents one movie.

movies.csv = Movie information is contained in the file `movies.csv`. Each line of this file after the header row represents one movie.

ratings.csv = All ratings are contained in the file `ratings.csv`. Each line of this file after the header row represents one rating of one movie by one user.

tags.csv = All tags are contained in the file `tags.csv`. Each line of this file after the header row represents one tag applied to one movie by one user.

### About the Variables

User Ids = MovieLens users were selected at random for inclusion. Their ids have been anonymized. User ids are consistent between `ratings.csv` and `tags.csv` (i.e., the same id refers to the same user across the two files).

Movie Ids = Only movies with at least one rating or tag are included in the dataset. These movie ids are consistent with those used on the MovieLens web site (e.g., id `1` corresponds to the URL <https://movielens.org/movies/1>). Movie ids are consistent between `ratings.csv`, `tags.csv`, `movies.csv`, and `links.csv` (i.e., the same id refers to the same movie across these four data files).

In [3]:
tags

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

If we look at the tags dataframe it has column named timestamp. According to the datasets information: "Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970." it uses [Epoch time](https://en.wikipedia.org/wiki/Unix_time) format in this column. This format allows us to store the date and time without dealing with timezones. It is useful in someways but its hard to read for humans and we have to convert to normal "yyyy-mm-dd" format to read it proparly.

In [4]:
# Let's convert this column to normal datetime format.
tags["timestamp"] = pd.to_datetime(tags["timestamp"], unit="s")
tags

      userId  movieId               tag           timestamp
0          2    60756             funny 2015-10-24 19:29:54
1          2    60756   Highly quotable 2015-10-24 19:29:56
2          2    60756      will ferrell 2015-10-24 19:29:52
3          2    89774      Boxing story 2015-10-24 19:33:27
4          2    89774               MMA 2015-10-24 19:33:20
...      ...      ...               ...                 ...
3678     606     7382         for katie 2007-02-11 22:46:59
3679     606     7936           austere 2007-03-08 22:18:54
3680     610     3265            gun fu 2017-05-03 20:39:44
3681     610     3265  heroic bloodshed 2017-05-03 20:39:38
3682     610   168248  Heroic Bloodshed 2017-05-03 20:44:30

[3683 rows x 4 columns]

As the tags dataframe, the ratings dataframe has the timestamp column and we are going to convert it as well.

In [5]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [6]:
ratings["timestamp"] = pd.to_datetime(ratings["timestamp"], unit="s")
ratings

        userId  movieId  rating           timestamp
0            1        1     4.0 2000-07-30 18:45:03
1            1        3     4.0 2000-07-30 18:20:47
2            1        6     4.0 2000-07-30 18:37:04
3            1       47     5.0 2000-07-30 19:03:35
4            1       50     5.0 2000-07-30 18:48:51
...        ...      ...     ...                 ...
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

[100836 rows x 4 columns]

The movies dataframe has information about movie titles and genres. Each row represents a movie and if we look into links dataframe it also refers information about same movies with same "movieId" column. So it would be easier for us to use this dataframes if we join them together. So let's do that with pandas merge function. First let's view the two dataframes.

In [7]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [8]:
links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [9]:
# Joining two dataframes together.
movies_merged = pd.merge(left = movies, right = links, how ="left", left_on = ["movieId"], right_on = ["movieId"])
movies_merged

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0
9739,193585,Flint (2017),Drama,6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0

Now after joining the dataframes together every movie has their link number in the specified column. These id columns represents link number for individual website which examples can be seen below.

movieId is an identifier for movies used by <https://movielens.org>. E.g., the movie Toy Story has the link <https://movielens.org/movies/1>.

imdbId is an identifier for movies used by <http://www.imdb.com>. E.g., the movie Toy Story has the link <http://www.imdb.com/title/tt0114709/>.

tmdbId is an identifier for movies used by <https://www.themoviedb.org>. E.g., the movie Toy Story has the link <https://www.themoviedb.org/movie/862>.

These id columns would be useful if we change their values to actual links like <https://www.themoviedb.org/movie/862> this. But before we do that we need to get rid of the all missing values in the dataset. Let's do that in below.

In [10]:
# Let's see how many missing values we have on each column.
movies_merged.isnull().sum()

movieId    0
title      0
genres     0
imdbId     0
tmdbId     8
dtype: int64

We have total of 8 missing values in tmdbId column. Since this value is to low we can easily go to the <https://www.themoviedb.org> and check these movie ids by hand and assign them to their place.

In [11]:
# Let's see these rows.
movies_merged[movies_merged["tmdbId"].isnull()]

,movieId,title,genres,imdbId,tmdbId
624,791,"Last Klezmer: Leopold Kozlowski, His Life and ...",Documentary,113610,NaN
843,1107,Loser (1991),Comedy,102336,NaN
2141,2851,Saturn 3 (1980),Adventure|Sci-Fi|Thriller,81454,NaN
3027,4051,Horrors of Spider Island (Ein Toter Hing im Ne...,Horror|Sci-Fi,56600,NaN
5532,26587,"Decalogue, The (Dekalog) (1989)",Crime|Drama|Romance,92337,NaN
5854,32600,Eros (2004),Drama,377059,NaN
6059,40697,Babylon 5,Sci-Fi,105946,NaN
7382,79299,"No. 1 Ladies' Detective Agency, The (2008)",Comedy|Crime|Mystery,874957,NaN

I've picked these ids from the <https://www.themoviedb.org> website but the second movie was missing so we will be replacing that value with 0. We are going to replace these values using dictionary which has keys represents missings values ids and values for 'tmdbId' column. Let's pick these ids from above dataframe and pick the values from website and put them into dictionary. Finally we are going to fill these values with fillna function. After doing that let's confirm for one row to see if its changed to correct value.

In [12]:
missing_tmbdIds = {624: 706007, 843:0, 2141:19761, 3027:31392, 5532:42699, 5854:39850, 6059:3137, 7382:7154}
movies_merged["tmdbId"].fillna(missing_tmbdIds, inplace=True)
# Check the value.
movies_merged[movies_merged["movieId"] == 79299]

,movieId,title,genres,imdbId,tmdbId
7382,79299,"No. 1 Ladies' Detective Agency, The (2008)",Comedy|Crime|Mystery,874957,7154.0

In [13]:
movies_merged.isnull().sum()

movieId    0
title      0
genres     0
imdbId     0
tmdbId     0
dtype: int64

In [16]:
movies_merged

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,5476944,432131.0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,5914996,445030.0
9739,193585,Flint (2017),Drama,6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,101726,37891.0

After cleaning missing values we can change the id columns to actual links. Also let's change their data type to a string.

In [17]:
movies_changed = movies_merged.copy()
movies_changed["imdbId"] = movies_changed["imdbId"].map(lambda x: "http://www.imdb.com/title/tt0"+str(x)+"/")
movies_changed["tmdbId"] = movies_changed["tmdbId"].map(lambda x: "https://www.themoviedb.org/movie/"+str(int(x)))

In [20]:
movies_changed["imdbId"] = movies_changed["imdbId"].astype("str")
movies_changed["tmdbId"] = movies_changed["tmdbId"].astype("str")
# See the data types
movies_changed.dtypes

movieId     int64
title      object
genres     object
imdbId     object
tmdbId     object
dtype: object

In [22]:
movies_changed

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,http://www.imdb.com/title/tt0114709/,https://www.themoviedb.org/movie/862
1,2,Jumanji (1995),Adventure|Children|Fantasy,http://www.imdb.com/title/tt0113497/,https://www.themoviedb.org/movie/8844
2,3,Grumpier Old Men (1995),Comedy|Romance,http://www.imdb.com/title/tt0113228/,https://www.themoviedb.org/movie/15602
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,http://www.imdb.com/title/tt0114885/,https://www.themoviedb.org/movie/31357
4,5,Father of the Bride Part II (1995),Comedy,http://www.imdb.com/title/tt0113041/,https://www.themoviedb.org/movie/11862
...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,http://www.imdb.com/title/tt05476944/,https://www.themoviedb.org/movie/432131
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,http://www.imdb.com/title/tt05914996/,https://www.themoviedb.org/movie/445030
9739,193585,Flint (2017),Drama,http://www.imdb.com/title/tt06397426/,https://www.themoviedb.org/movie/479308
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,http://www.imdb.com/title/tt08391976/,https://www.themoviedb.org/movie/483455
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,http://www.imdb.com/title/tt0101726/,https://www.themoviedb.org/movie/37891